      <div class="mainTaskList">
        <h2>Current Tasks</h2>
        <span class="links"><a ui-sref="pastTasks">View Past Tasks</a></span>
        <ul class="taskbox">
          <li ng-repeat="task in tasks" ng-hide="hideTask(task)">{{$index+1+". "}} {{ task.content }}
            <span class="timeAdded">
              {{" Added "}}
              <span am-time-ago="task.taskAddTime"></span>
              <a ng-click="checkMe(task)" class="check">
                <i class="fa fa-square fa-lg"></i>
              </a>
            </span>
          </li>
        </ul>
      </div>
      <div>
        <form name="addTask" ng-submit="addNewTask()">
          <input type="text" ng-model="task">
          <input type="submit" value="Add Task">
        </form>
      </div>
