      <div class="mainTaskList">
        <h2>Current Tasks</h2>
        <ul class="chatbox">
          <li ng-repeat="task in tasks">{{$index+1+". "}} {{ task.content }}
            <span class="timeAdded">
              {{" Added "}}
              <span am-time-ago="task.taskAddTime"></span>
            </span>
          </li>
        </ul>
      </div>
      <div>
        <form name="addTask" ng-submit="addNewTask()">
          <input type="text" ng-model="task">
          <input type="submit" value="Add Task">
        </form>
      </div>
